/* Botão menu hambúrguer */
#btn-menu {
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media (max-width: 48rem) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;

        & nav {
            display: none;
            flex-direction: column;
            background: #222;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            z-index: 100;
            padding: 0;

            &.open {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;       /* usar fixed, não absolute */
                inset: 0;              /* atalho para top: 0; right: 0; bottom: 0; left: 0 */
                background: #222;
                z-index: 1000;
                margin-top: 0;
                
            }

            & a {
                color: #fff;
                font-weight: bold;
                text-align: center;   /* centraliza o texto do link */
                width: 100%;          /* faz o link ocupar toda a largura */
                display: block;       /* garante o comportamento de bloco */
            }
        }
    }

    #btn-menu {
        display: block;
        margin-top: 0;
        padding-right: 1rem;
    }

    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }
}
